<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DsmsCredentialsManagement" version="3.13.1499" />
  <package id="DstsAuthentication.master" version="3.0.2.207" />
  <package id="SecurityResponseClient" Version="1.0.9.49"/>
  <package id="Microsoft.AzureAd.Icm.Types.amd64" Version="2.1.10.37"/>
  <package id="Microsoft.Cloud.HealthService.Client" Version="2020.616.1022.0"/>
  <package id="Microsoft.Cloud.Metrics.Client" Version="2.2020.609.951"/>
  <package id="Microsoft.IdentityModel" Version="7.0.0"/>
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" />
  <package id="Microsoft.IO.RecyclableMemoryStream" Version="1.2.2"/>
  <package id="Microsoft.Rest.ClientRuntime.Azure" Version="3.3.19"/>
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.19" />
  <package id="Newtonsoft.Json" Version="12.0.2"/>
  <package id="protobuf-net" version="2.0.0.668" />
  <package id="System.Buffers" Version="4.5.0"/>
  <package id="System.Net.Http" version="4.3.4" />
</packages>